@import './base.css';
/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sometimes';
  src: url('fonts/SometimesTimes-Regular.woff') format('woff'),
      url('fonts/SometimesTimes-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atlas';
  src: url('fonts/AtlasGrotesk-Regular.woff2') format('woff2'),
      url('fonts/AtlasGrotesk-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atlas-Bold';
  src: url('fonts/AtlasGrotesk-Bold.woff2') format('woff2'),
      url('fonts/AtlasGrotesk-Bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Atlas';
  font-size: max(15 * var(--r), 15px);
  line-height: max(19 * var(--r), 19px);
}

header {
  width: 100vw;
  border-top: 1px solid black;
  padding: max(10 * var(--r), 10px) max(20 * var(--r), 20px) max(13 * var(--r), 13px) max(20 * var(--r), 20px);
  @apply
  bg-white
  fixed
  bottom-0
  left-0
  z-10;
}

header nav {
  @apply
  flex
  items-center
  justify-between
  w-full;
  font-size: max(30 * var(--r), 30px);
  line-height: max(30 * var(--r), 30px);
}

a.router-link-active {
  @apply
  text-blue-700;
}

.bag_container {
  @apply
  flex
  gap-1;
}

.bag_container.router-link-active .bag {
  @apply
  bg-blue-700;
}

.bag_container .bag {
  width: max(28 * var(--r), 28px);
  height: max(28 * var(--r), 28px);
  font-size: max(16 * var(--r), 16px);
  line-height: max(16 * var(--r), 16px);
  @apply
  overflow-hidden
  flex
  items-center
  justify-center
  inline-block
  bg-black
  relative
  text-white
  rounded-full;
  &:before {
    content: '';
    @apply
    w-full
    h-full
    absolute
    top-0
    left-0
    bg-gradient-radial from-transparent via-transparent to-black
  }
}

.bag_container .bag span {
  line-height: 0px;
}


.logo, a.router-link-active .logo {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  font-family: 'Sometimes';
  font-size: max(120 * var(--r), 120px);
  line-height:  max(120 * var(--r), 120px);
  text-align: center;
  @apply
  text-black
  -z-10;
  @media screen and (min-width: 500px) {
    font-size: max(220 * var(--r), 220px);
  line-height:  max(220 * var(--r), 220px);
  }
}

.swiper .swiper-wrapper .swiper-slide {
  padding: max(20 * var(--r), 20px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.swiper-vertical > .swiper-wrapper {
  height: 100vh;
}

img {
  @apply
  w-full;
}

.reel  {
  min-width: 100%;
}

.reel .card a {
  min-width: 100%;
  height: 65dvh;
  @apply
  text-left
  flex
  flex-col
  justify-center
  items-center;
}

.reel .card a img {
  width: 100%;
  height: auto;
  @apply
  scale-105;
}
.reel .card a h2 {
  font-size: max(30 * var(--r), 30px);
  line-height: max(30 * var(--r), 30px);
  margin-bottom: max(3 * var(--r), 3px);
  @apply
  text-left
  w-full;
}

.reel .card a .prices {
  width: 100%;
  @apply
  text-left;
}

.reel .card .image-container {
  margin-bottom: max(14 * var(--r), 14px);
  min-height: 65dvh;
  min-width: 100%;
  @apply
  overflow-hidden
  items-center
  flex;
}

.single .image-container {
  margin: max(20 * var(--r), 20px);
  top: max(70 * var(--r), 70px);
  @apply
  fixed
  left-0
  overflow-hidden
  -z-10;
  @apply
  flex
  justify-center
  items-center;
  @media screen and (min-width: 500px) {
    width: 100%;
    height: calc(90vh - max(70 * var(--r), 70px));
    margin: 0px;
  }
}

.single .image-container img {
  height: 100%;
  width: auto;
}

.single .card-info {
  margin-top: calc(100vh - 10vh);
  padding: max(20 * var(--r), 20px);
  padding-bottom: 20vh;
  @apply
  relative
  bg-white;
  &:after {
    content: '';
    @apply
    absolute
   bg-gradient-to-b
   from-transparent
   to-white
    left-0
    -top-9
    w-full
    h-9;
  }
}

.single .card-info > * {
  @media screen and (min-width: 500px) {
    max-width: 500px;
    margin: 0 auto;
  }
}

.single .card-info h1 {
  font-size: max(30 * var(--r), 30px);
  line-height: max(30 * var(--r), 30px);
  margin-bottom: max(3 * var(--r), 3px);
}

.single .card-info h3 {
  margin-bottom: max(10 * var(--r), 10px);
}

.single .card-info .info-header {
  margin-bottom: max(30 * var(--r), 30px);
  @apply
  gap-2
  flex;
}

.single .card-info .info-header .autor {
  @apply
  text-right
  flex-1;
  font-family: 'Sometimes';
  font-size: max(38 * var(--r), 38px);
  line-height: max(38 * var(--r), 38px);
}

.single .card-info .info-header .autor span {
  font-size: max(20 * var(--r), 20px);
  line-height: max(20 * var(--r), 20px);
}

.single .card-info .info {
  margin-bottom: max(30 * var(--r), 30px);
  @apply
  flex;
}

.single .card-info .info p, .single .card-info .prices {
  @apply
  flex-1;
}

.options {
  @apply
  gap-2
  flex;
  margin-bottom: max(30 * var(--r), 30px);
}

.options .option {
  border: 1px solid black;
  padding: max(12 * var(--r), 12px) max(23 * var(--r), 23px) max(10 * var(--r), 10px) max(23 * var(--r), 23px);
  border-radius: 100%;
}

.submit {
  padding: max(10 * var(--r), 10px) max(20 * var(--r), 20px) max(7 * var(--r), 7px) max(20 * var(--r), 20px);
  border: 1px solid black;
  @apply
  float-end
  rounded-full;

  &:active {
    @apply
    bg-black
    text-white;
  }
}

.button {
  padding: max(10 * var(--r), 10px) max(20 * var(--r), 20px) max(7 * var(--r), 7px) max(20 * var(--r), 20px);
  border: 1px solid black;
  @apply
  float-end
  rounded-full;
}

.button.whats {
  font-family: 'Atlas-Bold';
  letter-spacing: max(-2 * var(--r), -2px);
  @apply
  bg-black
  border-none
  text-white;
}

.button.pay {
  font-family: 'Atlas-Bold';
  letter-spacing: max(-2 * var(--r), -2px);
  @apply
  opacity-10
  pointer-events-none
  bg-black
  border-none
  text-white;
}

.single h3 {
  margin-bottom: max(8 * var(--r), 8px);
}

.selected {
  @apply
  bg-black
  text-white;
}

.disabled {
  @apply
  opacity-30;
}


.autorx {
  margin-top: max(200 * var(--r), 200px);
  padding: max(20 * var(--r), 20px);
  padding-bottom:  max(100 * var(--r), 100px);
  @apply
  relative
  bg-white;
  &:after {
    content: '';
    @apply
    absolute
    w-full
    h-6
    left-0
    -top-6
    bg-gradient-to-b
    from-transparent
    to-white;
  }
  @media screen and (min-width: 500px) {
    max-width: 500px;
    margin: 0 auto;
    margin-top: max(200 * var(--r), 200px);
    
  }
}

.autorx h1 {
  font-size: max(20 * var(--r), 20px);
  line-height: max(24 * var(--r), 24px);
  margin-bottom: max(40 * var(--r), 40px);
}


.autorx .autorxs {
  gap: max(20 * var(--r), 20px);
  @apply
  grid
  grid-cols-2;
}

.autorx .autorxs .autor {
  margin-bottom: max(20 * var(--r), 20px);
}
.autorx .autorxs .autor h2 {
  font-family: 'Sometimes';
  font-size: max(38 * var(--r), 38px);
  line-height: max(38 * var(--r), 38px);
  margin-bottom: max(10 * var(--r), 10px);
}