@import './base.css';
/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sometimes';
  src: url('fonts/SometimesTimes-Regular.woff') format('woff'),
      url('fonts/SometimesTimes-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atlas';
  src: url('fonts/AtlasGrotesk-Regular.woff2') format('woff2'),
      url('fonts/AtlasGrotesk-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atlas-Bold';
  src: url('fonts/AtlasGrotesk-Bold.woff2') format('woff2'),
      url('fonts/AtlasGrotesk-Bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Atlas';
  font-size: max(15 * var(--r), 15px);
}

header {
  width: 100vw;
  border-top: 1px solid black;
  padding: max(6 * var(--r), 6px) max(20 * var(--r), 20px);
  @apply
  bg-white
  fixed
  bottom-0
  left-0
  z-10;
}

header nav {
  @apply
  flex
  items-center
  justify-between
  w-full;
  font-size: max(30 * var(--r), 30px);
  line-height: max(30 * var(--r), 30px);
}

.bag_container {
  @apply
  flex
  gap-1;
}

.bag_container .bag {
  width: max(28 * var(--r), 28px);
  height: max(28 * var(--r), 28px);
  font-size: max(18 * var(--r), 18px);
  @apply
  flex
  items-center
  justify-center
  inline-block
  bg-black
  text-white
  rounded-full;
}

.logo {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  font-family: 'Sometimes';
  font-size: max(138 * var(--r), 138px);
  line-height:  max(138 * var(--r), 138px);
  text-align: center;
}

.swiper .swiper-wrapper .swiper-slide {
  padding: max(20 * var(--r), 20px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
}

.swiper-vertical > .swiper-wrapper {
  height: calc(100vh - 5vh);
}

img {
  @apply
  w-full;
}

.card a img {
  margin-bottom: max(14 * var(--r), 14px);
}
.card a h2 {
  font-size: max(30 * var(--r), 30px);
  line-height: max(30 * var(--r), 30px);
  margin-bottom: max(3 * var(--r), 3px);
  @apply
  text-left
  w-full;
}
